/* Mobile first */
html, body {
	width: 100%;
	height: 100%;
	margin-left: 0;
  font-family: "SF Pro Text", "sans-serif";
  scroll-behavior: smooth;
}

p {
  font-family: SF Pro Text;
  font-size: 14px;
  word-spacing: 4px;
  padding-bottom: 8px;
  padding-left: 60px;
  padding-right: 60px;
  color: #333333;
}

header {
  margin-top: -10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* This is the main heading in the homepage */
h1 {
  font-family: fffregular;
  font-size: 30px;
  padding-left: 35px;
  text-align: center;
  float: left;
  line-height: 47px;
  margin: 0;
  color: white;
}

h2 {
  font-family: SF Pro Text;
  font-size: 32px;
  text-align: center;
  color: #333333;
  padding-bottom: 30px;
}

h3 {
  font-family: SF Pro Text;
  font-size: 32px;
  text-align: center;
  color: #333333;
  padding-top: 50px;
}

h5 {
  font-family: futura;
  font-size: 18px;
  text-align: center;  
}

/* This styles the text when the user hovers over the images */
h4 {
  font-family: fffregular;
  font-size: 24px;
  margin-left: 5px;
  text-align: center;
  margin-top: 100px;
}


/* The two fonts below are the custom fonts that I have used */
@font-face {
  font-family: 'futura';
  src: url('Futura.ttf');
}

@font-face {
  font-family: 'fffregular';
  src: url('fffregular.ttf');
}



/* .centered and . anim-typewriter is for the typewriter animation*/
.centered {
  position: relative;
  top: 40%;
  left: 50%;
  width: 4.9em;
  font-size: 60px;
  color: white;
  z-index: 2;
  margin-right: 0 auto;
  border-right: 3px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;transform: translateX(-50%);
  font-family: SFMono-Heavy;
} 



.anim-typewriter {
  animation: typewriter 5s steps(35) 1s 1 normal both,
  blinkTextCursor 600ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 5.5em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255,255,255,0.75);
  }
  to {
    border-right-color: transparent;
  }
}



/* This is the animation loading page */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
  z-index: 3;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  z-index: 3;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}



/* topnav is the resizable menu */
.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a:not(:first-child) {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav.responsive {
	position: relative;
}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: center;
}
.topnav a {
  transition: 0.6s ease;
  background: black;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 3px solid black;
  padding: 10px 10px;
  margin: 0 20px;
}
.topnav a:hover {  
  border-bottom: 3px solid #ffffff;
}
.active {
  background-color: #4CAF50;
  color: white;
}

/* This is the background image that I have used in the homepage of the website */
.container {
  background-image: url("../images/aston2.jpg");
  height: 650px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -5px;
}

.container-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 650px;
  width: 100%;
  background-color: rgba(0,0,0,0.55);
}

/* This is the styling for the new menu*/

.container .menu-icon {
  position: absolute;
  color: white;
  font-size: 36px;
  left: 42px;
  top: 36px;
  cursor: pointer;
  z-index: 3;
}

.menu-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgba(0,0,0,0.9);
  display: none;
  overflow: hidden;
  z-index: 3;
} 


.menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: -30px;
}

.menu-content a {
  text-decoration: none;
  font-size: 48px;
  color: #F8F8F8;
  display: block;
  font-family: futura;
  padding: 36px;
  transition: 0.6s;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.menu-content a:hover {
  color: rgb(207,181,59);
}

.menu-container .closebtn {
  position: absolute;
  top: 36px;
  right: 48px;
  font-size: 40px;
  color: white;
  z-index: 1;
  cursor: pointer;
}




#three {
  background-color: white;
  height: 425px;
  padding: 135px 35px 0px 35px;
}

#four {
  background-color: black;
  height: 1000px;
  padding: 135px 35px 0px 35px;
}

#brands { 
  height: 500px;
  background-color: white;
}

#five {
  height: 330px;
  padding: 35px 35px 35px 35px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  width: 150px;
  margin: 0 auto;
}

#five a {
  text-decoration: none;
  color: black;
  list-style: none;
}

#five a:hover {
  text-decoration: underline;
}

/* This is the animated arrow which has being made using the keyframes animation */
#arrow a {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

#arrow a span {
  width: 36px;
  height: 36px;
  position: absolute;
  margin-top: 500px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arr05 1.7s infinite;
  animation: arr05 1.7s infinite;
}
@-webkit-keyframes arr05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-22px, 22px);
    opacity: 0;
  }
}
@keyframes arr05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-22px, 22px);
    opacity: 0;
  }
}

figure {
  width: 200px;
  background: #aaa;
  border: .01px solid #999;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 200px;
  background: #eee;
  margin-bottom: -13em;
  display: block;
}

figcaption {
  box-sizing: border-box;
  height: 13em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(13em);
  background: #fff;
  opacity: 0.1;
  transition: all .5s;
}

#my-class {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
}

.footlink {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: futura;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

#map {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  margin-top: 20px;
}

figure:hover figcaption {
  transform: translateY(0em);
  /* background: rgba( 255, 255, 255, .78 ); */
  opacity: 0.6;
}



/*** THIS IS THE FIRST BREAKPOINT for tablets ***/
@media screen and (min-width: 700px) {
  .topnav a:not(:first-child) {
    display: block;
    float: right;
  }
      
  #icon {
    display: none;
  }

  

  /***   This bit is for the car logo   ***/
  #favcar {
    width: 100px;
    background: white;    
  }

  #favcar img {
    width: 100%;
    display: block;
    padding: 0 20px 20px;
    filter: grayscale(90%);
    opacity: 0.85;
    transition: 0.2s ease-in;
  }

  #favcar img:hover {
    width: 100%;
    display: block;
    padding: 0 20px 20px;
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer;
    transform: scale(1.0);
  }

 #my-class2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 800px;
    margin: 0 auto;
    margin-top: 100px;
  }
  /*** car logo ***/


  figure {
    width: 300px;
    background: #aaa;
    border: .01px solid #999;
    overflow: hidden;
  }

  figure img {
    width: 100%;
    height: 300px;
    background: #eee;
    margin-bottom: -19em;
    display: block;
  }

  figcaption {
    box-sizing: border-box;
    height: 19em;
    line-height: 15em;
    padding: .40em;
    transform: translateY(19em);
    background: white;
    opacity: 0.9;
    transition: all .65s;
  }

  p {
    font-family: SF Pro Text;
    font-size: 20px;
    word-spacing: 4px;
    padding-bottom: 10px;
    letter-spacing: 0.1px;
    line-height: 1.44;
    color: #333333;
  }

  #my-class {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
  }

  #four {
    background-color: black;
    height: 1450px;
    padding: 135px 35px 0px 35px;
  }

  #five {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 250px;
    margin: 0 auto;
  }

  #brands { 
  height: 600px;
  background-color: white;
}



  h1 {
    font-family: fffregular;
    font-size: 42px;
    padding-left: 35px;
    text-align: center;
    float: left;
    line-height: 80px;
    margin: 0;
    color: white;
  }

  h4 {
    font-family: fffregular;
    font-size: 44px;
    margin-left: 5px;
    text-align: center;
    margin-top: 50px;
  }

  figure:hover figcaption {
    transform: translateY(0em);
    opacity: 0.8;
  }

  #cont1 {
    width: 200px;
  }

  #cont2 {
    width: 200px;
  }

  #cont3 {
    width: 200px;
  }
}

/*** THIS IS THE SECOND BREAKPOINT for desktops ***/
@media screen and (min-width: 950px) {



  #my-class {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
  }
/*     *** this is for the bigger screen ***
.container {
  background-image: url("../images/aston.jpg");
  height: 1050px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -5px;
  }

.container-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 1050px;
  width: 100%;
  background-color: rgba(0,0,0,0.55); 
}


#arrow a {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

#arrow a span {
  width: 36px;
  height: 36px;
  position: absolute;
  margin-top: 800px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arr05 1.7s infinite;
  animation: arr05 1.7s infinite;
}
*/



  #three {
    background-color: white;
    height: 475px;
    padding: 135px 35px 0px 35px;
  }

  #four {
    background-color: black;
    height: 800px;
    padding: 135px 35px 0px 35px;
  }


  #favcar {
    width: 165px;
    background: white;    
  }

  #favcar img {
    width: 100%;
    display: block;
    padding: 0 20px 20px;
    filter: grayscale(90%);
    opacity: 0.85;
    transition: 0.15s ease-in;
  }

  #favcar img:hover {
    width: 100%;
    display: block;
    padding: 0 20px 20px;
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer;
    transform: scale(1.01);
  }

 #my-class2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-right: 40px;
    height: 800px;
    margin: 0 auto;
    margin-top: 100px;
  }





  #five {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 975px;
    height: 150px;
    margin: 0 auto;
  }

  h4 {
    font-family: fffregular;
    font-size: 44px;
    margin-left: 5px;
    text-align: center;
  }

  .footlink {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: futura;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
}